@import "./styles/variables.css";
@import "./styles/font.css";

h1 {
  font-size: 64px;
  text-align: center;

  margin: 0;
}

h1.large-text {
  font-family: "Poppins Black", sans-serif;
}

h1.larger-text {
  font-size: 60px;
  font-family: "Lato Black", sans-serif;
}

p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

p.italic-desc {
  color: var(--grey-color);

  font-family: "Lato Italic", san-serif;
}

p.italic-desc + p {
  color: var(--grey-color);

  font-family: "Lato Regular", san-serif;
}

p.credit-card-desc {
  color: var(--grey-color);

  font-family: "Lato Regular", san-serif;

  font-size: 16px;
}

p.description{
  font-family: 'Poppins Regular', sans-serif;
  line-height: 34px;
}

.img-bg {
  background-image: url("./assets/images/Rectangle.png");
  background-size: cover;
}

.content-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.left-justified {
  text-align: left;
}

.inquiry {
  font-size: 40px;
  font-family: 'Poppins Regular', sans-serif;
  font-weight: 700;
  line-height: 60px;
}

.icon-description{
  text-align: center;

  width: 42rem;

  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icon-description:first-of-type {
  padding-top: 10rem;
}

.icon-description:last-of-type {
  padding-bottom: 10rem;
}

.gary-big-icon {
  padding-right: 6rem;
}

button {
  height: 5rem;
  width: 25rem;

  background: var(--green-color);
  color: var(--white-color);

  font-size: 20px;
  text-transform: uppercase;

  border: 1px solid var(--white-color);

  font-family: "Sen Black", sans-serif;
}

button.rounded-btn {
  border-radius: 4rem;
}
