@import "./styles/variables.css";
@import "./styles/font.css";

h1 {
  font-size: 64px;
  text-align: center;

  margin: 0;
}

h1.big-text {
  font-family: "Poppins Black", sans-serif;
}

p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

p.about-gary-desc {
  color: var(--grey-color);

  font-family: "Lato Italic", san-serif;
}

p.about-gary-desc + p {
  color: var(--grey-color);

  font-family: "Lato Regular", san-serif;
}

p.credit-card-desc {
  color: var(--grey-color);

  font-family: "Lato Regular", san-serif;

  font-size: 16px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./assets/images/Rectangle.png');
  background-size: cover;
}

button {
  height: 5rem;
  width: 25rem;

  background: var(--green-color);
  color: var(--white-color);

  font-size: 20px;
  text-transform: uppercase;

  border: 1px solid var(--white-color);

  font-family: 'Sen Black', sans-serif;
}

button.rounded-btn {
  border-radius: 4rem;
}
